{% extends "page.html" %}

{% block main %}
  <div class="">
    <div id="main" class="container text-center">
      <!--<h3>Thanks for using Wode.AI!</h3>-->
      <div id="message">

<!--
        <div class="container" >
            <div class="alert alert-warning">
                Thanks for visiting WodeAI.<br />
                This page is under construction.<br />
                We are going to open very soon.<br />
            </div>
        </div>-->
        <img src="{{static_url("images/construction.jpg")}}" width="100%" />

      </div>
    </div>
  </div>
{% endblock %}