{% extends "page.html" %}

{% block main %}

{% if not allow_named_servers %}
<div class="container">
  <div class="row">
    <div class="text-center">
      {% if user.running %}
      <a id="stop" role="button" class="btn btn-lg btn-danger">Stop My Server</a>
      {% endif %}
      <a id="start"role="button" class="btn btn-lg btn-success" target="_blank" href="{{ url }}">
      {% if not user.running %}
      Start
      {% endif %}
        My Server
      </a>
      </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div>Welcome, {{ user.name}} 
        <a id="start" role="button" class="btn btn-sm btn-success" target="_blank" href="{{ url }}">
          Start New Session
        </a>
    </div> 
      

    <hr/>

{% if allow_named_servers %}
<div class="container">
 <div>Running Servers:</div>
    <table>
    {% for s in user.running_spawners %}
    <tr class="user-row" >
        <td > <a target="_blank" href="{{ user.url}}{{s.name}}" > {{s.name if s.name != "" else "Default Session"}}</a>
            </td> 
         <td> <span role="button" class ="session-more btn-info btn-xs">More</span>
            </td>
        
        <div id="sessionCommands" style="display:none">
            <td> <span role="button" class="session-logs btn-info btn-xs " data-servername="{{s.name}}">Logs</span>
                </td>
            <td> <span role="button" class="session-status btn-info btn-xs " data-servername="{{s.name}}">Status</span>
                </td>
            <td> <span role="button" class="session-stats btn-info btn-xs " data-servername="{{s.name}}">Stats</span>
                </td>
            <td> <span role="button" class="session-tags btn-info btn-xs " data-servername="{{s.name}}">Show Tags</span>
                </td>
            <td> <span role="button" class="add-session-tag btn-info btn-xs " data-servername="{{s.name}}">Add Tag</span>
                </td>
            <td> <span role="button" class="add-session-comment btn-info btn-xs " data-servername="{{s.name}}">Add Comment</span>
                </td>
            <td> <span role="button" class="session-comments btn-info btn-xs " data-servername="{{s.name}}">Show Comments</span>
                </td>
        </div>
        <td> <span role="button" class="stop-server btn-xs btn-danger" data-servername="{{s.name}}">Stop Session</span>
            </td>

    </tr>
    {% endfor %}
    </table>

<button class="tablink" onclick="openSessionTabs('Status_tab', this)" id="defaultOpen">Status</button>
<button class="tablink" onclick="openSessionTabs('Logs_tab', this)">Logs</button>
<button class="tablink" onclick="openSessionTabs('Stats_tab', this)">Stats</button>
<button class="tablink" onclick="openSessionTabs('Outputs_tab', this)">Outputs</button>
<button class="tablink" onclick="openSessionTabs('Tags_tab', this)">Tags</button>
<button class="tablink" onclick="openSessionTabs('Comments_tab', this)">Comments</button>
    
    <div id="Status_tab" class="tabcontent">
      <h3>Status</h3>
    </div>
    <div id="Logs_tab" class="tabcontent">
      <h3>Logs</h3>
    </div>
    <div id="Stats_tab" class="tabcontent">
      <h3>Stats</h3>
        <div id="cpu_chart" style="width: 600px; height: 300px"></div>
        <div id="memory_chart" style="width: 600px; height: 300px"></div>
    </div>

    <div id="Outputs_tab" class="tabcontent">
      <h3>Outputs</h3>
    </div>

    <div id="Tags_tab" class="tabcontent">
      <h3>Tags</h3>
    </div>
    
    <div id="Comments_tab" class="tabcontent">
      <h3>Comments</h3>
    </div>
    
    </div>
  </div>
    <hr/>
</div>
{% endif %}   
{% if user.projects %}
    <div class="container">
    <div>Your Projects:</div>

    {% for proj in user.projects %}
        {% if proj != ""  %}
        <div class="col-sm-3">
           <a target="_blank" href="{{ user.url}}project/{{proj.name}}" ><p class="project-name" data-projname="{{proj.name}}"> {{proj.name}} </p></a>
           <span role="button" class="start-project btn btn-sm btn-success" data-projname="{{proj.name}}">Start Project Session </span> 
            <span role="button" class="delete-project btn btn-xs btn-danger" data-projname="{{proj.name}}">Delete Project </span> 
        </div>    
        {% endif %}
    {% endfor %}

    </div>

{% endif %}

<div id ="session_info" class="container">
    
</div>
 
{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);
</script>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}
