{% extends "page.html" %}

{% block main %}

{% if not allow_named_servers %}
<div class="container">
  <div class="row">
    <div class="text-center">
      {% if user.running %}
      <a id="stop" role="button" class="btn btn-lg btn-danger">Stop My Server</a>
      {% endif %}
      <a id="start"role="button" class="btn btn-lg btn-success" target="_blank" href="{{ url }}">
      {% if not user.running %}
      Start
      {% endif %}
        My Server
      </a>
    </div>
  </div>
</div>
{% endif %}

{% if allow_named_servers %}
<div class="container">
  <div class="row">
    <div>Welcome, {{ user.name}}  <p />
      {{user.servers}}</div> 
    <div class="text-center">
        <div>Running Servers:</div>
    <ul>
    {% for s in user.running_spawners %}
           <li> <a target="_blank" href="{{ user.url}}{{s.name}}" ><p> {{s.name if s.name != "" else "Running Sessions"}} </p></a>
            </li> 
        <li> <span role="button" class="stop-server btn btn-xs btn-danger" data-servername="{{s.name}}">stop session</span>
            </li>
    {% endfor %}
    </ul>
    <a id="start" role="button" class="btn btn-sm btn-success" target="_blank" href="{{ url }}">
      Start New Session
      </a>
    </div>
  </div>
</div>
{% endif %}


{% if user.projects %}
    <div class="text-center">
    <div>Your Projects:</div>
    <ul>
    {% for proj in user.projects %}
        {% if proj != ""  %}
        <!-- -->
           <li> <a target="_blank" href="{{ user.url}}project/{{proj.name}}"><p class="project-name" data-url="{{ user.url}}project/{{proj.name}}"> {{proj.name}} </p></a>
           <a id="start"role="button" class="btn btn-sm btn-success" target="_blank" href="{{ user.url}}project/{{proj.name}}/server">
          Start Project Session
          </a> </li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>

{% endif %}

{% endblock %}

{% block script %}
{{ super() }}
<script type="text/javascript">
require(["home"]);
</script>
{% endblock %}
