{% extends "page.html" %}

{% block main %}
<link rel="stylesheet" href="http://wode.ai/Portals/_default/Containers/20073-UnlimitedColorsPack-055/container.css?cdv=104" type="text/css">
<link rel="stylesheet" href="http://wode.ai/Portals/_default/skins/20073-unlimitedcolorspack-055/skin.css?cdv=104" type="text/css">

{% if not allow_named_servers %}
<div class="container">
  <div class="row">
    <div class="text-center">
      {% if user.running %}
      <a id="stop" role="button" class="btn btn-lg btn-danger">Stop My Server</a>
      {% endif %}
      <a id="start"role="button" class="btn btn-lg btn-success" target="_blank" href="{{ url }}">
      {% if not user.running %}
      Start
      {% endif %}
        My Server
      </a>
      </div>
  </div>
</div>
{% endif %}

<div class="container">
  <div class="row">
    <div>Welcome, {{ user.name}} 
        <a id="start" role="button" class="btn btn-sm btn-success" target="_blank" href="{{ url }}">
          Start New Session
        </a>
    </div> 
      

    <hr/>

{% if allow_named_servers and user.running_spawners|length > 0%}

<!-- Begin of running servers.-->    
<div class="col-sm-4">
    
 <div id="session_list"></div>
    
    
  
 <div>Running Servers:</div>
    <table>
    {% for s in user.running_spawners %}
    <tr class="user-row" >
        <td > <span role="button" class ="session-choose btn-link" data-servername="{{s.name}}" > {{s.name if s.name != "" else "Default Session"}}
            </span>
            </td> 
            <td> <a class ="btn-info btn-xs" href="{{ user.url}}{{s.name}}" target="_blank" >Open Session</a>
            </td>

       <!--
        
         <td> <span role="button" class ="session-more btn-info btn-xs">More</span>
            </td>
        <div id="sessionCommands" style="display:none">
            <td> <span role="button" class="session-logs btn-info btn-xs " data-servername="{{s.name}}">Logs</span>
                </td>
            <td> <span role="button" class="session-status btn-info btn-xs " data-servername="{{s.name}}">Status</span>
                </td>
            <td> <span role="button" class="session-stats btn-info btn-xs " data-servername="{{s.name}}">Stats</span>
                </td>
            <td> <span role="button" class="session-tags btn-info btn-xs " data-servername="{{s.name}}">Show Tags</span>
                </td>
            <td> <span role="button" class="add-session-tag btn-info btn-xs " data-servername="{{s.name}}">Add Tag</span>
                </td>
            <td> <span role="button" class="session-comments btn-info btn-xs " data-servername="{{s.name}}">Show Comments</span>
                </td>
        </div>
        -->
        <td> <span role="button" class="stop-server btn-xs btn-danger" data-servername="{{s.name}}">Stop</span>
            </td>

    </tr>
    {% endfor %}
    </table>

</div>
<!-- end of running servers.-->    
    
<!-- Begin of Tabs.-->   
<div  class="col-sm-8">
    <div class="tablink-container">
        <button class="tablink" id="status_tablink" data-contenttabid="Status_tab" >Status</button>
        <button class="tablink" id="log_tablink" data-contenttabid="Logs_tab">Logs</button>
        <button class="tablink" id="stats_tablink" data-contenttabid="Stats_tab">Stats</button>
        <button class="tablink" id="output_tablink" data-contenttabid="Outputs_tab">Outputs</button>
        <button class="tablink" id="tag_tablink" data-contenttabid="Tags_tab">Tags</button>
        <button class="tablink" id="comment_tablink" data-contenttabid="Comments_tab">Discussion</button>
    </div>
    <div class="tabcontent-container">
        <div id="Status_tab" class="tabcontent active">
          <h3>Status</h3>
            <div id="status_table"></div>
        </div>
        <div id="Logs_tab" class="tabcontent">
          <h3>Logs</h3>
            <div id="logs_tab" class="DivToScroll"></div>
        </div>
        <div id="Stats_tab" class="tabcontent">
          <h3>Stats</h3>
            <div id="cpu_chart" style="width: 600px; height: 300px"></div>
            <div id="memory_chart" style="width: 600px; height: 300px"></div>
        </div>

        <div id="Outputs_tab" class="tabcontent">
          <h3>Outputs</h3>
            <div id="outputs_tab" class="DivToScroll"></div>
        </div>

        <div id="Tags_tab" class="tabcontent">
          <h3>Tags</h3>
            <div id="tags_tab">
            </div>
            
            <td> <span role="button" class="add-session-tag btn-info btn-xs " data-servername="{{selected_session}}">Add Tag</span>
                </td>
        </div>

        <div id="Comments_tab" class="tabcontent">
          <h3>Comments</h3>
            <div id="comments_tab"></div>
                
                <div class="comment-form">
                    <div>
                        <textarea class="form-textarea" id="comment_body_id" placeholder=" Share your thoughts here." rows="4" cols="90"></textarea>
                    </div>
                    <button class="add-session-comment2">Add Comment</button> 
                </div>
            
        </div>
    </div>
</div>
<!-- end of tabs.-->    
    
</div>
    
    
    <hr/>
</div>
{% endif %}   
{% if user.projects %}
    <div class="container">
    <div>Your Projects:</div>

    {% for proj in user.projects %}
        {% if proj != ""  %}
        <div class="col-sm-3">
           <a target="_blank" href="{{ user.url}}project/{{proj.name}}" ><p class="project-name" data-projname="{{proj.name}}"> {{proj.name}} </p></a>
           <span role="button" class="start-project btn btn-sm btn-success" data-projname="{{proj.name}}">Start Project Session </span> 
        </div>    
        {% endif %}
    {% endfor %}

    </div>

{% endif %}

<div id ="session_info" class="container">
    
</div>
 
{% endblock %}

{% block script %}
{{ super() }}
    <script type="text/javascript">
        require(["home"]);
    </script>

    <script type="text/javascript">
        $.extend(true, jhdata, {
            selected_session: "{{selected_session}}"
          }); 
    </script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock %}

