{% extends "page.html" %}


{% block main %}
<!--Your new content will be displayed in here-->
<div class="content-placeholder">tst</div>

<hr />


<div id="proj_info" class="container">Project Info:</div>

<hr />
<div id="all_sessions" class="container">All Sessions:</div>

{% endblock %}

{% block script %}
{{ super() }}
    <script type="text/javascript">
        require(["project",""]);
        $.extend(true, jhdata, {
            proj_name: "{{proj_name}}"
          }); 
    </script>

{% endblock %}