{% extends "page.html" %}


{% block main %}

<div id="proj_info" class="container"></div>

<hr />
<div id="proj_sessions" class="container">{{file_tree|safe}} <div id="proj_tags" class="container"></div></div>

{% endblock %}

{% block script %}
{{ super() }}
    <script type="text/javascript">
        require(["Mustache", "project","home"]);
        $.extend(true, jhdata, {
            user_url:"{{user_url}}",
            is_self:"{{is_self}}",
            proj_name: "{{proj_name}}",
            file_tree:"{{file_tree}}",
          }); 
    </script>

{% endblock %}