{% extends "page.html" %}


{% block main %}
<!--Your new content will be displayed in here-->
<div class="content-placeholder">tst</div>

<hr />


<div id="proj_info" class="container">Project Info:</div>

<hr />
<div id="all_sessions" class="container">All Sessions:</div>

{% endblock %}

{% block script %}
{{ super() }}
    <script type="text/javascript">
        require(["project","handlebars"]);
        $.extend(true, jhdata, {
            proj_name: "{{proj_name}}"
          }); 
    </script>
<script id="address-template" type="text/x-handlebars-template">
  <p>You can find me in {{city}}. My address is {{number}} {{street}}.</p>
</script>

{% endblock %}