{% extends "page.html" %}

{% block main %}
<link rel="stylesheet" href="{{ static_url("css/index.css") }}" type="text/css">
<link rel="stylesheet" href="http://wode.ai/Portals/_default/Containers/20073-UnlimitedColorsPack-055/container.css?cdv=104" type="text/css">
<link rel="stylesheet" href="http://wode.ai/Portals/_default/skins/20073-unlimitedcolorspack-055/skin.css?cdv=104" type="text/css">

<div class="container">

    <div class="row">
        
        
        <div class="col-sm-6"> 
        
        {% for category, coursez in  categories.items() %}
            {% if category in ["R","Data Science","NLP","Finance"]%}
            <div class="language category">
                <h3 class="language-title">{{ category }}</h3>
                <ul class="list-unstyled">
                    {% for coursecode in coursez %}
                    <li>
                        <a href="/tutorial/{{coursecode}}/{{ courses[coursecode]['DisplayName'].strip().replace(' ','_') }}" class="course-name" target="_blank">{{courses[coursecode]["DisplayName"]}}
                            {% if courses[coursecode]["HasVideo"] and courses[coursecode]["VideoURL"] != '' %}
                            📺
                            {% endif %}
                            {% if courses[coursecode]["Featured"] %}
                            👍
                            {% endif %}
                            {% if courses[coursecode]["Chinese"] %}
                            🇨🇳
                            {% endif %}
                        </a> 
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        </div>
            
        <div class="col-sm-6"> 
        {% for category, coursez in  categories.items() %}
            {% if category not in ["R","Data Science","NLP","Finance"]%}
            <div class="language category">
                <h3 class="language-title">{{ category }}</h3>
                <ul class="list-unstyled">
                    {% for coursecode in coursez %}
                    <li>
                        <a href="/tutorial/{{coursecode}}/{{ courses[coursecode]['DisplayName'].strip().replace(' ','_') }}" class="course-name" target="_blank">{{courses[coursecode]["DisplayName"]}}
                            {% if courses[coursecode]["HasVideo"] and courses[coursecode]["VideoURL"] != '' %}
                            📺
                            {% endif %}
                            {% if courses[coursecode]["Featured"] %}
                            👍
                            {% endif %}
                            {% if courses[coursecode]["Chinese"] %}
                            🇨🇳
                            {% endif %}
                        </a> 
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        
    </div>        

</div>       
{% endblock %}
<!--end of body-->
    

{% block script %}
{{ super() }}   
<script src="{{static_url('js/jquery-3.2.1.min.js')}}"></script>
<script src="{{static_url('js/index.js')}}"></script>
{% endblock %}