.language {
    padding: 30px 15px;
    margin-top: 40px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
}
.language h3.language-title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}
.language h3.language-title:after {
    content: '';
    width: 60px;
    height: 1px;
    background: #ff173c;
    display: block;
    margin-top: 6px;
}
.language ul {
    margin-bottom: 0;
}
.language li a {
    color: #666;
    font-size: 14px;

    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
}
.language li a.course-name {
    width: calc(100% - 40px);
}
.language li a:hover {
    color: #ff173c;
}
.language li:last-child a {
    border-bottom: 0;
}

.language li a:not(.course-name){
    text-decoration: underline; 
}

.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

    .bs-calltoaction > .row{
        display:table;
        width: calc(100% + 30px);
    }
     
        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:table-cell;
            vertical-align:middle;
        }

            .cta-contents{
                padding-top: 10px;
                padding-bottom: 10px;
            }

                .cta-title{
                    margin: 0 auto 15px;
                    padding: 0;
                }

                .cta-desc{
                    padding: 0;
                }

                .cta-desc p:last-child{
                    margin-bottom: 0;
                }

            .cta-button{
                padding-top: 10px;
                padding-bottom: 10px;
            }

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

        .bs-calltoaction > .row > [class^="col-"],
        .bs-calltoaction > .row > [class*=" col-"]{
            float:none;
            display:block;
            vertical-align:middle;
            position: relative;
        }

        .cta-contents{
            text-align: center;
        }
}

/**
 * Header content
 */
.bs-calltoaction.bs-calltoaction-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.bs-calltoaction.bs-calltoaction-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.bs-calltoaction.bs-calltoaction-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
.bs-calltoaction.bs-calltoaction-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.bs-calltoaction.bs-calltoaction-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
.bs-calltoaction.bs-calltoaction-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn {
    border-color: #fff;
}

.fresh-session {
    padding: 0.2rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    float: right;
    line-height: 1;
    color: #464a4c;
    text-align: center;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    cursor: pointer;
}


/**
table
**/
.alert-info {
    background-color: #fcfcfc;
    color: black;
}
.alert-info a {
    font-weight: bold;
}
.panel-default {
  width: 100%;
}
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.table-responsive {

}